*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html{
  min-width: 599px;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.float-lt{
  float: left;
}

.text-color-white{
  color: white;
}

.text-color-gray{
  color:#7D7D7D ;
}

.padding-lt5{
  padding: 0 5px;
}

.margin-10{
  margin: 0 10px;
}

.margin-bottom-10px{
  margin-bottom: 10px;
}



/* nav laterale */
.nav_laterale{
  width: 230px;
  height: calc(100vh - 90px);
  background-color: black;
  overflow: hidden;
}

main .nav_laterale .nav_laterale-top{
  width: 100%;
  min-height: 400px;
  height: calc(100% - 80px);
  overflow: hidden;
}


.nav_laterale .nav_laterale-top .nav-logo{
  width: 75%;
  height: 90px;
  padding: 20px;
}

.nav-logo-mobile{
  display: none;
}

/* lista-home */
.nav_laterale-top{
  height: calc(100% - 80px);
}

.nav_laterale-top .list-home{
  width: 100%;
  color: #7D7D7D;
}

.list-home ul li{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 20px;
  font-weight: 400;
}

.list-home ul li span:hover{
  color: white;
}

.list-home ul li span{
  position: relative;
  cursor: pointer;
}

.linea-home{
  position: absolute;
  right: 0;
  left: calc(50% - 25px);
  height: 1px;
  width: 50px;
  background-color: #adff2f;
  display: none;
}

.list-home img{
  height: 26px;
}

/* /lista-home */

/* lista-playlist */

.playlist{
  height: 70%; 
  overflow: hidden;
}

.h5-nav-laterale{
  margin-left: 22px;
  margin-top: 15px;
  margin-bottom: 20px;
}

._crea{
  width: 100%;
  height: 40px;
}

.crea-P{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color:#A3A3A3 ;
  margin-left: 5px ;
  line-height: 40px;
  text-align: center;
  margin-left: 22px;
}

.simbolo-quadrato{
  font-size: 40px;
  font-weight: 700;
}

.h5-crea-playlist:hover{
  color: white;
  cursor: pointer;
}

.h5-crea-playlist{
  display: inline;
  margin-left: 20px;
}


main .nav_laterale .nav_laterale-top .playlist .nome-playlist{
  height: 50%;
  overflow-y: auto;
  margin-left: 20px;
  margin-top: 25px;
}

.nome-playlist ul li{
  padding-bottom: 10px;
}

.nome-playlist ul li span:hover{
  color: white;
  cursor: pointer;
}

/* /lista-playlist */

/* nav-laterale-bottom */

.nav-laterale-bottom{
  width: 100%;
  height: 80px;
}

.icon-download{
  padding-right: 10px;
}



.bottom-top{
  width: 80%;
  height: 30px;
  margin-left: 20px;
  border-bottom: 1px solid #7D7D7D;
}

.bottom-b{
  display: flex;
  margin-left: 20px;
  margin-top: 15px;
}


.profilo {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: white;
  background-color: #515151 ;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

/* /nav-laterale-bottom */

/* lista-playlist */

/* / nav laterale */

/* main */ 

.box-1{
  width: calc(100% - 230px);
  height: calc(100vh - 90px);
  background-color: #141922;
  overflow-y: auto;
}
/* nav-fix */
.nav-btn{
  position: fixed;
  width: calc(100% - 230px);
  height: 90px;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0,0,0,0.5);
}

.nav-btn button{
  margin-right: 20px;
  height: 50%;
  background: none;
  color: #FFF;
  padding: 0 20px;
  border-radius: 50px;
  border-color: #fff;
  margin-top: 22px;
  cursor: pointer;
}

/* box-1 */
/* select */

.select{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 90px;
}

.box-1 .select ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box-1 .select ul li{
  position: relative;
  padding: 10px;
}

.linea{
  position: absolute;
  bottom: 0;
  left: calc(50% - 25px);
  height: 1px;
  width: 50px;
  background-color: #adff2f;
  display: none;
}

.box-1 .select ul li:active .linea{
  display: block;
} 

.box-1 .select ul li a{
  text-decoration: none;
  color: #7d7f84
}

.scopri{
  display: flex;
  justify-content: center;
  color: white;
}

/* /box-1 */

/* box-2 */

.titolo-box2{
  margin-left: 15px;
  margin-bottom: 30px;
}


.row-1 ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.row-1 ul li{
  width: calc(100% / 6);
  max-width: 180px;
  min-width: 100px;
  text-align: center;
  margin-bottom: 50px;
}

.box-img{
  width: 150px;
  height: 150px;
  margin-left: 15px;

}

.box-img img{
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.titolo-2{
  margin-left: 15px;
  margin-bottom: 10px;
}

.testo-2{
  margin-left: 15px;
  margin-bottom: 30px;
} 

.row-2 ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-bottom: 100px;
  text-align: center;
}

.titolo-3{
  margin-left: 15px;
  margin-bottom: 10px;
}

.testo-3{
  margin-left: 15px;
  margin-bottom: 30px;
} 

.row-3 ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}


.row-3 .box-img img{
  border-radius: 50%;
}


/* /box-2 */

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: #282828;
}

.footer-left, .footer-right, .footer-center{
  display: flex;
  flex-shrink: 0;
}



footer .footer-left .titolo-brano{
  display: flex;
  align-items: center;
  margin-right: 25px;
}

footer .footer-left .icon,
footer .footer-center .icon,
footer .footer-right .icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* color: #878787; */
  height: 100%;
  cursor: pointer;
  justify-content: center;
}

footer .footer-left .icon .cartella{
  margin-left: 15px;
}

.icona img {
  width: 75%;
  /* height: 100%; */
  object-fit: cover;
  margin-top: 15px;
  margin-left: 10px;
  
}
.min_album{
  width: 60px;
  /* height: 25px; */
  margin: 0 5px;
}

footer .footer-center .icon,
footer .footer-right .icon{
  margin-right: 15px;
}

.fa-play-circle{
  font-size: 30px;
}

footer .footer-right .volume{
  width: 100px;
  height: 5px;
  background-color:#5A5A5A ;
  margin-left: 5px;
  border-radius: 2px;
}

.footer-center{
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
}

footer .footer-center .tempo-musica{
  width: 80%;
  height: 5px;
  background-color:#5A5A5A ; 
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;
}

footer .footer-center .tempo-musica .minuti-musica{
  width: 20%;
  height: 5px;
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
}

footer .footer-right .volume .vol-musica{
  width: 25%;
  height: 5px;
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
}

/* /footer */

/* media query */


@media (max-width: 600px) {

  main .nav_laterale .nav_laterale-top .nav-logo-mobile{
  display:block;
  }
  main .nav_laterale .nav_laterale-top .nav-logo{
  display: none;
  }
  main .nav_laterale {
  width: 50px;
  }
  main .box-1, main .box-1 .nav-btn {
  width: calc(100% - 50px);
  }

  .list-home ul li {
  padding: 5px 11px;
  }

  .list-home ul li span{
  display: none;
  }

  main .nav_laterale .nav_laterale-top .playlist{
  display: none;
  }

  main .nav_laterale .nav-laterale-bottom span{
  display: none;
  }


  main .nav_laterale .nav-laterale-bottom .bottom-top{
    border-bottom: none;
  }

  footer .footer-left .icon{
    flex-direction: column;
  }

  footer .footer-left .icon .cartella {
    margin-left: 5px;

}
}

