*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.float-lt{
  float: left;
}

.text-color-white{
  color: white;
}

.text-color-gray{
  color:#7D7D7D ;
}

.padding-lt5{
  padding: 0 5px;
}


/* nav laterale */
.nav_laterale{
  width: 230px;
  height: calc(100vh - 90px);
  background-color: black;
}

main .nav_laterale .nav_laterale-top{
  width: 100%;
  height: calc(100% - 80px);
}


.nav_laterale .nav_laterale-top .nav-logo{
  width: 75%;
  height: 90px;
  padding: 20px;
}

.nav-logo-mobile{
  display: none;
}

/* lista-home */

.nav_laterale-top .list-home{
  width: 100%;
  color: #7D7D7D;
}

.list-home ul li{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 20px;
  font-weight: 400;
}

.list-home ul li span:hover{
  color: white;
}

.list-home ul li span{
  position: relative;
}

.linea-home{
  position: absolute;
  right: 0;
  left: calc(50% - 25px);
  height: 1px;
  width: 50px;
  background-color: #adff2f;
  display: none;
}

.list-home img{
  height: 26px;
}

/* /lista-home */

/* lista-playlist */

.h5-nav-laterale{
  margin-left: 22px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.crea-P{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color:#A3A3A3 ;
  margin-left: 5px ;
  line-height: 40px;
  text-align: center;
}

.simbolo-quadrato{
  font-size: 40px;
  font-weight: 700;
}

.h5-crea-playlist{
  display: inline;
  margin-left: 20px;
}

main .nav_laterale .nav_laterale-top .playlist .nome-playlist{
  height: calc(100vh - 480px);
  overflow-y: auto;
}

.nome-playlist ul li span:hover{
  color: white;
}


.nav-laterale-bottom{
  width: 100%;
  height: 80px;
  background-color: teal;
}
/* lista-playlist */

/* / nav laterale */

/* main */ 

.box-1{
  width: calc(100% - 230px);
  height: calc(100vh - 90px);
  background-color: #141922;
  overflow-y: auto;
}
/* nav-fix */
.nav-btn{
  position: fixed;
  width: calc(100% - 230px);
  height: 90px;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0,0,0,0.5);
}

.nav-btn button{
  margin-right: 20px;
  height: 50%;
  background: none;
  color: #FFF;
  padding: 0 20px;
  border-radius: 50px;
  border-color: #fff;
  margin-top: 22px;
  cursor: pointer;
}

/* select */

.select{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 90px;
}

.box-1 .select ul{
  list-style: none;
  display: flex;
}
.box-1 .select ul li{
  position: relative;
  padding: 10px;
}

.linea{
  position: absolute;
  bottom: 0;
  left: calc(50% - 25px);
  height: 1px;
  width: 50px;
  background-color: #adff2f;
  display: none;
}

.box-1 .select ul li:active .linea{
  display: block;
} 

.box-1 .select ul li a{
  text-decoration: none;
  color: #7d7f84
}

.scopri{
  display: flex;
  justify-content: center;
  color: white;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: #282828;
}
.footer-left, .footer-right, .footer-center{
  display: flex;
  flex-shrink: 0;
}

footer .footer-left .titolo-brano{
  display: flex;
  align-items: center;
  margin-right: 25px;
}

footer .footer-left .icon,
footer .footer-center .icon,
footer .footer-right .icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* color: #878787; */
  height: 100%;
  padding: 15px 0;
  cursor: pointer;
}

footer .footer-left .icon .cartella{
  margin-left: 15px;
}

.icon img {
  width: 75%;
  /* height: 100%; */
  object-fit: cover;
}
.min_album{
  width: 60px;
  /* height: 25px; */
  margin: 0 5px;

}

footer .footer-center .icon,
footer .footer-right .icon{
  margin-right: 10px;
}
/* /footer */

/* media query */


@media (max-width: 600px) {

main .nav_laterale .nav_laterale-top .nav-logo-mobile{
  display:block;
}
main .nav_laterale .nav_laterale-top .nav-logo{
  display: none;
}
main .nav_laterale {
  width: 50px;
}
main .box-1, main .box-1 .nav-btn {
  width: calc(100% - 50px);
}

.list-home ul li {
  padding: 5px 11px;
}

.list-home ul li span{
  display: none;
}

main .nav_laterale .nav_laterale-top .playlist{
  display: none;
}

}